---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #0a369e;
		border-radius: 7px;
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		margin-bottom: 1rem;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem;
		border-radius: 7px;
		color: white;
		background-color: #23262d;
		transition: transform 0.3s ease, opacity 0.3s ease;
	}
	.link-card:hover {
		background-color: #2f333d;
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
	}
	.link-card > a:hover {
		transform: translateY(-2px);
		opacity: 1;
	}
	h2 {
		margin: 0;
		font-size: 1.5rem;
		transition: color 0.3s ease;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #d1d1d1;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: #30efbc;
	}
</style>
