---
import { Image } from "astro:assets";
import LogoITIC from "../../public/assets/ITIC-LOGOs/logo horitzontal Institut TIC de Barcelona (Color).png";
import  LogoBePro from "../../public/assets/Icons-web/logo_be_pro_color_8_4x-1024x320.png"
---

<footer class="footer">
    <div class="footer-top">
        <div id="logo-itic-footer">
            <a href="/">
                <Image src={LogoITIC} , alt={"Logo del centro escolar ITIC"} />
            </a>
            <a href="https://fp.edubcn.cat/xarxes-bepro">
                <Image src={LogoBePro} , alt={"Logo del centro escolar ITIC"} />
            </a>
        </div>
         <div>

        </div>
        <!--<div id="bePro">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="304.327" height="26.218" viewBox="0 0 304.327 26.218">
                <defs>
                    <clipPath id="clip-path">
                        <rect width="19.534" height="4.408" fill="none"></rect>
                    </clipPath>
                </defs>
                <g transform="translate(-489.156 -443.878)">
                    <path d="M1192.949,496.776l-5.065-.009-.034,18.094,5.1.01.014-7.593s0-.887,0-1.959a3.692,3.692,0,0,1,3.692-3.69h5.035l.01-5.238h-2.165a6.755,6.755,0,0,0-6.595,5.292h0Z" transform="translate(-603.999 -45.207)" fill=""></path>
                    <path d="M1304.9,511.956c-2.541-.005-3.884-2.307-3.878-5.972.007-3.7,1.358-6,3.9-5.99S1308.8,502.3,1308.8,506C1308.789,509.665,1307.438,511.961,1304.9,511.956Zm-.007,3.466c5.63.011,9.165-3.882,9.175-9.413.009-5.565-3.51-9.47-9.14-9.481s-9.165,3.882-9.175,9.447C1295.74,511.506,1299.26,515.411,1304.89,515.422Z" transform="translate(-697.276 -45.326)" fill=""></path>
                    <path d="M1031.368,457.661l.015-7.764,4.04.009c3.1.006,4.763,1.375,4.758,3.908-.005,2.5-1.674,3.862-4.772,3.857Zm-.018,6.765-5.255-2.366h5.264v0l3.941.009c6.6.012,10.3-3.08,10.311-8.245.011-5.2-3.682-8.3-10.28-8.317l-9.207-.019-.046,25.325,5.264.01Z" transform="translate(-464.154 -1.203)" fill=""></path>
                    <rect width="19.534" height="4.408" transform="translate(534.863 465.033)" fill=""></rect>
                    <g transform="translate(534.863 465.033)">
                        <g transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path d="M808.557,585.344l-1.292.9,1.377,1.075Z" transform="translate(-809.858 -587.137)" fill="#fff" fill-rule="evenodd"></path>
                        </g>
                    </g>
                    <path d="M660.05,498.413c2.133,0,3.663,1.54,3.924,4.106l-7.9-.015C656.515,499.673,658.017,498.41,660.05,498.413Zm9.119,6.082c.011-5.7-3.514-9.537-9.112-9.547-5.5-.01-9.2,3.848-9.215,9.413s3.548,9.47,9.179,9.481c4.332.008,7.534-1.919,8.741-5.749l-4.753-.009a3.934,3.934,0,0,1-3.948,2.292c-2.1,0-3.663-1.44-4.024-4.473l13.029.024A11.08,11.08,0,0,0,669.169,504.5Z" transform="translate(-139.772 -43.96)" fill=""></path>
                    <path d="M498.289,448.514c2.3,0,3.63.973,3.627,2.906s-1.338,2.83-3.637,2.826l-3.829-.01.011-5.731Zm-3.848,10.12h-5.265l5.259,2.4-.006,4,4.559.01c2.832.005,4.267-1.158,4.271-3.191s-1.427-3.2-4.259-3.207Zm6.384-2.151c3.6-.426,6.517-2.221,6.523-5.686.007-3.6-2.687-6.669-9.251-6.682l-8.894-.02-.047,25.325,9.491.02c6.565.012,10.035-2.647,10.043-7.046C508.7,458.6,505.156,456.725,500.825,456.484Z" fill="" fill-rule="evenodd"></path>
                </g>
                <g transform="translate(135.633)">
                    <path d="M1032.637,748.276c0,1.741-1.371,2.8-3.969,2.8H1024.5V741.049h4.128c2.6,0,3.665,1.213,3.665,2.638,0,1.371-1.054,2.083-2.479,2.255C1031.529,746.034,1032.637,746.772,1032.637,748.276Zm-6.053-5.486v2.268h2.123c.91,0,1.438-.356,1.438-1.121s-.528-1.147-1.438-1.147Zm2.215,6.541c1.122,0,1.689-.462,1.689-1.266s-.567-1.266-1.689-1.266h-2.215v2.532Z" transform="translate(-1024.5 -741.049)" fill=""></path>
                    <path d="M1039.6,746.3v4.51h-1.991v-1.346a2.392,2.392,0,0,1-2.386,1.5,2.353,2.353,0,0,1-2.493-2.334c0-1.635,1.557-2.044,2.968-2.176l1.885-.184v-.119a1.309,1.309,0,0,0-2.571-.329h-2.03c.184-1.465,1.5-2.335,3.323-2.335C1038.531,743.487,1039.6,744.688,1039.6,746.3Zm-2.018,1.464v-.289l-1.146.119c-.818.092-1.649.236-1.649,1.041a1.124,1.124,0,0,0,1.226,1.121C1037.041,749.751,1037.581,748.881,1037.581,747.76Z" transform="translate(-1023.606 -740.784)" fill=""></path>
                    <path d="M1042.379,745.518a2.377,2.377,0,0,1,2.387-2.031v1.979h-.514c-1.253,0-1.859.421-1.859,1.634v3.706h-2.018v-7.161h2Z" transform="translate(-1022.775 -740.784)" fill=""></path>
                    <path d="M1044.964,747.219a3.53,3.53,0,0,1,3.705-3.732,3.285,3.285,0,0,1,3.495,2.729h-2.03a1.518,1.518,0,0,0-1.464-1.358c-1.068,0-1.649.91-1.649,2.36,0,1.5.606,2.374,1.649,2.374a1.529,1.529,0,0,0,1.53-1.332h2.031a3.357,3.357,0,0,1-3.561,2.7A3.52,3.52,0,0,1,1044.964,747.219Z" transform="translate(-1022.276 -740.784)" fill=""></path>
                    <path d="M1059.442,747.825h-5.155c.145,1.2.765,1.767,1.6,1.767a1.357,1.357,0,0,0,1.411-.909h2.03a3.294,3.294,0,0,1-3.455,2.281,3.741,3.741,0,1,1,3.613-3.705A4.321,4.321,0,0,1,1059.442,747.825Zm-5.142-1.345h3.124a1.589,1.589,0,0,0-1.556-1.622C1055.065,744.859,1054.471,745.361,1054.3,746.48Z" transform="translate(-1021.486 -740.784)" fill=""></path>
                    <path d="M1059.946,751.072V741.049h2.018v10.023Z" transform="translate(-1020.647 -741.049)" fill=""></path>
                    <path d="M1062.955,747.232a3.732,3.732,0,1,1,3.731,3.732A3.526,3.526,0,0,1,1062.955,747.232Zm5.406,0c0-1.464-.58-2.374-1.675-2.374s-1.674.91-1.674,2.374.581,2.36,1.674,2.36S1068.361,748.683,1068.361,747.232Z" transform="translate(-1020.32 -740.784)" fill=""></path>
                    <path d="M1077.534,746.27v4.537h-2.018v-4.1c0-1.24-.475-1.807-1.318-1.807s-1.318.568-1.318,1.833v4.076h-2.018v-7.161h2v1.464a2.294,2.294,0,0,1,2.281-1.622C1076.822,743.487,1077.534,744.688,1077.534,746.27Z" transform="translate(-1019.461 -740.784)" fill=""></path>
                    <path d="M1084.889,746.3v4.51h-1.99v-1.346a2.394,2.394,0,0,1-2.387,1.5,2.352,2.352,0,0,1-2.492-2.334c0-1.635,1.557-2.044,2.967-2.176l1.886-.184v-.119a1.309,1.309,0,0,0-2.571-.329h-2.031c.184-1.465,1.5-2.335,3.323-2.335C1083.822,743.487,1084.889,744.688,1084.889,746.3Zm-2.017,1.464v-.289l-1.147.119c-.817.092-1.649.236-1.649,1.041a1.124,1.124,0,0,0,1.226,1.121C1082.332,749.751,1082.873,748.881,1082.873,747.76Z" transform="translate(-1018.683 -740.784)" fill=""></path>
                    <path d="M1090.686,749.331h4.932v1.741H1088.6V741.049h6.9v1.741h-4.814v2.268h4.721V746.8h-4.721Z" transform="translate(-1017.532 -741.049)" fill=""></path>
                    <path d="M1102.969,746.27v4.537h-2.018v-4.1c0-1.24-.475-1.807-1.319-1.807s-1.318.568-1.318,1.833v4.076H1096.3v-7.161h2v1.464a2.3,2.3,0,0,1,2.282-1.622C1102.256,743.487,1102.969,744.688,1102.969,746.27Z" transform="translate(-1016.696 -740.784)" fill=""></path>
                    <path d="M1103.371,748.644h2.031a1.239,1.239,0,0,0,1.385.949c.883,0,1.358-.291,1.358-.751,0-.436-.291-.646-1.266-.871l-1.266-.277c-1.358-.289-2.1-.922-2.1-1.991,0-1.358,1.4-2.215,3.112-2.215,1.622,0,2.98.673,3.3,2.058h-2.031a1.244,1.244,0,0,0-1.252-.686c-.646,0-1.2.237-1.2.686,0,.409.408.568,1.146.725l1.266.277c1.5.329,2.215.976,2.215,2.136,0,1.464-1.45,2.281-3.363,2.281C1104.94,750.964,1103.622,750.212,1103.371,748.644Z" transform="translate(-1015.927 -740.784)" fill=""></path>
                    <path d="M1117.433,747.825h-5.155c.145,1.2.765,1.767,1.6,1.767a1.357,1.357,0,0,0,1.411-.909h2.03a3.294,3.294,0,0,1-3.455,2.281,3.741,3.741,0,1,1,3.613-3.705A4.321,4.321,0,0,1,1117.433,747.825Zm-5.142-1.345h3.124a1.589,1.589,0,0,0-1.556-1.622C1113.056,744.859,1112.462,745.361,1112.291,746.48Z" transform="translate(-1015.183 -740.784)" fill=""></path>
                    <path d="M1124.61,746.27v4.537h-2.018v-4.1c0-1.24-.474-1.807-1.318-1.807s-1.319.568-1.319,1.833v4.076h-2.017v-7.161h2v1.464a2.294,2.294,0,0,1,2.281-1.622C1123.9,743.487,1124.61,744.688,1124.61,746.27Z" transform="translate(-1014.344 -740.784)" fill=""></path>
                    <path d="M1130.322,743.63h2.123l-2.822,9.744h-2.071l.95-3.323h-1.7l-2.11-6.422h2.031l1.886,6.014Z" transform="translate(-1013.61 -740.768)" fill=""></path>
                    <path d="M1139.113,746.3v4.51h-1.991v-1.346a2.394,2.394,0,0,1-2.387,1.5,2.352,2.352,0,0,1-2.492-2.334c0-1.635,1.557-2.044,2.967-2.176l1.886-.184v-.119a1.309,1.309,0,0,0-2.571-.329h-2.031c.184-1.465,1.5-2.335,3.323-2.335C1138.044,743.487,1139.113,744.688,1139.113,746.3Zm-2.018,1.464v-.289l-1.148.119c-.817.092-1.647.236-1.647,1.041a1.123,1.123,0,0,0,1.225,1.121C1136.554,749.751,1137.095,748.881,1137.095,747.76Z" transform="translate(-1012.789 -740.784)" fill=""></path>
                    <path d="M1150.82,746.27v4.537H1148.8v-4.1c0-1.24-.382-1.807-1.213-1.807s-1.226.568-1.226,1.833v4.076h-2.018v-4.1c0-1.24-.382-1.807-1.213-1.807s-1.226.568-1.226,1.833v4.076h-2.018v-7.161h2v1.464a2.257,2.257,0,0,1,2.2-1.622,2.191,2.191,0,0,1,2.175,1.741,2.377,2.377,0,0,1,2.255-1.741C1150.134,743.487,1150.82,744.661,1150.82,746.27Z" transform="translate(-1011.958 -740.784)" fill=""></path>
                    <path d="M1158.088,747.825h-5.157c.145,1.2.765,1.767,1.6,1.767a1.356,1.356,0,0,0,1.41-.909h2.031a3.294,3.294,0,0,1-3.455,2.281,3.741,3.741,0,1,1,3.613-3.705A4.343,4.343,0,0,1,1158.088,747.825Zm-5.143-1.345h3.125a1.589,1.589,0,0,0-1.556-1.622C1153.71,744.859,1153.117,745.361,1152.945,746.48Z" transform="translate(-1010.764 -740.784)" fill=""></path>
                    <path d="M1165.264,746.27v4.537h-2.017v-4.1c0-1.24-.476-1.807-1.319-1.807s-1.318.568-1.318,1.833v4.076h-2.018v-7.161h2v1.464a2.294,2.294,0,0,1,2.281-1.622C1164.552,743.487,1165.264,744.688,1165.264,746.27Z" transform="translate(-1009.925 -740.784)" fill=""></path>
                    <path d="M1170.408,749.479v1.478h-1.134c-1.41,0-2.466-.7-2.466-2.123v-3.561h-1.332V743.8h1.332v-1.687h2.018V743.8h1.569v1.477h-1.569v3.4c0,.62.3.8.884.8Z" transform="translate(-1009.176 -740.934)" fill=""></path>
                    <path d="M1170.613,748.644h2.031a1.239,1.239,0,0,0,1.385.949c.884,0,1.358-.291,1.358-.751,0-.436-.289-.646-1.266-.871l-1.265-.277c-1.358-.289-2.1-.922-2.1-1.991,0-1.358,1.4-2.215,3.112-2.215,1.622,0,2.98.673,3.3,2.058h-2.031a1.245,1.245,0,0,0-1.253-.686c-.646,0-1.2.237-1.2.686,0,.409.409.568,1.148.725l1.266.277c1.5.329,2.215.976,2.215,2.136,0,1.464-1.45,2.281-3.363,2.281C1172.183,750.964,1170.865,750.212,1170.613,748.644Z" transform="translate(-1008.618 -740.784)" fill=""></path>
                    <path d="M1028.456,755.318c2.611,0,4.075,1.226,4.075,3.284s-1.464,3.271-4.075,3.271h-1.873v3.468H1024.5V755.318Zm.04,4.814c1.226,0,1.886-.541,1.886-1.53s-.66-1.543-1.886-1.543h-1.912v3.073Z" transform="translate(-1024.5 -739.498)" fill=""></path>
                    <path d="M1034.8,759.787a2.376,2.376,0,0,1,2.387-2.03v1.978h-.514c-1.253,0-1.859.422-1.859,1.635v3.705H1032.8v-7.161h2Z" transform="translate(-1023.598 -739.233)" fill=""></path>
                    <path d="M1037.39,761.5a3.732,3.732,0,1,1,3.731,3.731A3.525,3.525,0,0,1,1037.39,761.5Zm5.406,0c0-1.465-.58-2.375-1.675-2.375s-1.674.91-1.674,2.375.581,2.36,1.674,2.36S1042.8,762.952,1042.8,761.5Z" transform="translate(-1023.099 -739.233)" fill=""></path>
                    <path d="M1048.956,756.756c-.593,0-.9.185-.9.83v.593h1.609v1.478h-1.609v5.683h-2.017v-5.683h-1.293V758.18h1.293v-.712c0-1.437,1.054-2.15,2.465-2.15h1.161v1.438Z" transform="translate(-1022.299 -739.498)" fill=""></path>
                    <path d="M1056.992,762.1h-5.156c.145,1.2.765,1.767,1.6,1.767a1.358,1.358,0,0,0,1.411-.91h2.03a3.294,3.294,0,0,1-3.455,2.281,3.74,3.74,0,1,1,3.613-3.7A4.392,4.392,0,0,1,1056.992,762.1Zm-5.142-1.345h3.124a1.59,1.59,0,0,0-1.555-1.623C1052.615,759.127,1052.021,759.63,1051.85,760.75Z" transform="translate(-1021.752 -739.233)" fill=""></path>
                    <path d="M1057.092,762.912h2.031a1.239,1.239,0,0,0,1.385.95c.884,0,1.358-.29,1.358-.752,0-.436-.29-.646-1.266-.87l-1.266-.277c-1.358-.29-2.1-.923-2.1-1.991,0-1.358,1.4-2.215,3.112-2.215,1.622,0,2.98.672,3.3,2.057h-2.031a1.247,1.247,0,0,0-1.253-.686c-.646,0-1.2.238-1.2.686,0,.409.409.567,1.148.725l1.265.277c1.5.329,2.216.976,2.216,2.136,0,1.463-1.451,2.281-3.363,2.281C1058.662,765.233,1057.343,764.482,1057.092,762.912Z" transform="translate(-1020.957 -739.233)" fill=""></path>
                    <path d="M1063.882,762.912h2.031a1.239,1.239,0,0,0,1.385.95c.882,0,1.358-.29,1.358-.752,0-.436-.29-.646-1.266-.87l-1.266-.277c-1.358-.29-2.1-.923-2.1-1.991,0-1.358,1.4-2.215,3.112-2.215,1.622,0,2.98.672,3.3,2.057H1068.4a1.246,1.246,0,0,0-1.252-.686c-.646,0-1.2.238-1.2.686,0,.409.408.567,1.146.725l1.266.277c1.5.329,2.215.976,2.215,2.136,0,1.463-1.45,2.281-3.363,2.281C1065.451,765.233,1064.133,764.482,1063.882,762.912Z" transform="translate(-1020.219 -739.233)" fill=""></path>
                    <path d="M1071.052,757.217v-1.9h2.084v1.9Zm.027,8.123V758.18h2.018v7.161Z" transform="translate(-1019.44 -739.498)" fill=""></path>
                    <path d="M1074.085,761.5a3.731,3.731,0,1,1,3.731,3.731A3.525,3.525,0,0,1,1074.085,761.5Zm5.406,0c0-1.465-.58-2.375-1.675-2.375s-1.674.91-1.674,2.375.58,2.36,1.674,2.36S1079.491,762.952,1079.491,761.5Z" transform="translate(-1019.11 -739.233)" fill=""></path>
                    <path d="M1088.664,760.539v4.537h-2.018v-4.1c0-1.24-.474-1.807-1.318-1.807s-1.319.568-1.319,1.834v4.074h-2.017v-7.161h2v1.465a2.293,2.293,0,0,1,2.281-1.622C1087.952,757.757,1088.664,758.957,1088.664,760.539Z" transform="translate(-1018.251 -739.233)" fill=""></path>
                    <path d="M1096.02,760.565v4.51h-1.991v-1.345a2.392,2.392,0,0,1-2.386,1.5,2.353,2.353,0,0,1-2.493-2.334c0-1.635,1.557-2.043,2.968-2.175l1.885-.185v-.119a1.309,1.309,0,0,0-2.571-.329h-2.03c.184-1.464,1.5-2.334,3.323-2.334C1094.952,757.757,1096.02,758.957,1096.02,760.565ZM1094,762.029v-.289l-1.146.118c-.818.093-1.649.238-1.649,1.042a1.123,1.123,0,0,0,1.226,1.121C1093.462,764.02,1094,763.15,1094,762.029Z" transform="translate(-1017.473 -739.233)" fill=""></path>
                    <path d="M1096.8,765.341V755.318h2.017v10.023Z" transform="translate(-1016.642 -739.498)" fill=""></path>
                    <path d="M1100.125,757.217v-1.9h2.083v1.9Zm.027,8.123V758.18h2.018v7.161Z" transform="translate(-1016.28 -739.498)" fill=""></path>
                    <path d="M1107.839,763.749v1.477h-1.133c-1.411,0-2.466-.7-2.466-2.123v-3.56h-1.333v-1.478h1.333v-1.687h2.018v1.687h1.569v1.478h-1.569v3.4c0,.62.3.8.883.8Z" transform="translate(-1015.978 -739.383)" fill=""></path>
                    <path d="M1110.419,763.583h4.126v1.477h-6.395v-1.912l3.877-3.771h-3.8V757.9h6.067v1.913Z" transform="translate(-1015.408 -739.218)" fill=""></path>
                    <path d="M1121.585,760.565v4.51h-1.991v-1.345a2.391,2.391,0,0,1-2.386,1.5,2.353,2.353,0,0,1-2.493-2.334c0-1.635,1.557-2.043,2.968-2.175l1.885-.185v-.119a1.309,1.309,0,0,0-2.571-.329h-2.03c.184-1.464,1.5-2.334,3.323-2.334C1120.517,757.757,1121.585,758.957,1121.585,760.565Zm-2.018,1.464v-.289l-1.146.118c-.818.093-1.649.238-1.649,1.042A1.123,1.123,0,0,0,1118,764.02C1119.027,764.02,1119.567,763.15,1119.567,762.029Z" transform="translate(-1014.694 -739.233)" fill=""></path>
                    <path d="M1127.367,755.318h1.99v10.023h-1.99v-1.45a2.541,2.541,0,0,1-2.375,1.608c-1.766,0-2.954-1.582-2.954-3.731s1.188-3.745,2.954-3.745a2.468,2.468,0,0,1,2.375,1.793Zm.079,6.449c0-1.465-.593-2.375-1.689-2.375s-1.661.91-1.661,2.375.567,2.36,1.661,2.36S1127.446,763.217,1127.446,761.767Z" transform="translate(-1013.898 -739.498)" fill=""></path>
                    <path d="M1129.828,761.5a3.732,3.732,0,1,1,3.732,3.731A3.526,3.526,0,0,1,1129.828,761.5Zm5.406,0c0-1.465-.58-2.375-1.674-2.375s-1.675.91-1.675,2.375.581,2.36,1.675,2.36S1135.234,762.952,1135.234,761.5Z" transform="translate(-1013.051 -739.233)" fill=""></path>
                    <path d="M1139.74,759.787a2.376,2.376,0,0,1,2.387-2.03v1.978h-.514c-1.253,0-1.859.422-1.859,1.635v3.705h-2.018v-7.161h2Z" transform="translate(-1012.192 -739.233)" fill=""></path>
                    <path d="M1142.265,762.912h2.031a1.239,1.239,0,0,0,1.385.95c.883,0,1.358-.29,1.358-.752,0-.436-.291-.646-1.266-.87l-1.266-.277c-1.358-.29-2.1-.923-2.1-1.991,0-1.358,1.4-2.215,3.112-2.215,1.622,0,2.98.672,3.3,2.057h-2.03a1.248,1.248,0,0,0-1.253-.686c-.646,0-1.2.238-1.2.686,0,.409.408.567,1.147.725l1.265.277c1.5.329,2.216.976,2.216,2.136,0,1.463-1.451,2.281-3.363,2.281C1143.835,765.233,1142.516,764.482,1142.265,762.912Z" transform="translate(-1011.7 -739.233)" fill=""></path>
                </g>
            </svg>
        </div>-->
    </div>

    <div class="footer-container">

        <div class="footer-section">
            <!--<h3>Enlaces rápidos</h3>-->
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/estudios">Estudios</a></li>
                <li><a href="/Erasmus">Erasmus+</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="https://app.dinantia.com/login">Dinantia</a></li>
                <li><a href="https://educaciodigital.cat/iticbcn/moodle/login/index.php">Moodle</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <!--<h3>Contacto</h3>-->
            <p><strong>Teléfono:</strong> 935128822</p>
            <p><strong>Email:</strong> oficines@iticbcn.cat</p>
            <p><strong>Dirección:</strong> C/ Sancho de Ávila, 131, 08018 Barcelona</p>
        </div>
        <div class="footer-section">
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            <a target="_blank" href="http://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/">Avís legal</a> |
            <!--<a target="_blank" href="http://agora.xtec.cat/nodes/">Sobre el web</a> |-->
            <span class="copyright">©2024  Generalitat de Catalunya | </span>
            <span>© 2024 Instituto Tecnológico de Barcelona | </span>
            <span class="site-source">Fet per <a target="_blank" href="https://github.com/4Tipy">Leonardo Chavez</a> i <a target="_blank" href="https://github.com/lcastienc">Luis Castillo</a></span>
        </p>
    </div>
</footer>



<style>
    .footer {
        background-color: #f2ecec;
        padding: 20px 0;
        color: black;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1 1 30%;
        margin-bottom: 20px;
    }

    .footer-section h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section a {
        text-decoration: none;
        color: black;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
    }

    #logo-itic-footer {
        margin-right: 2%;
    }

    #logo-itic-footer img {
        max-width: 120px;
        max-height: 50px;
        object-fit: contain;
    }
    #logo{
        color: blue;
    }
</style>
