---
import { Image } from "astro:assets";
import LogoITIC from "../../public/assets/ITIC-LOGOs/logo horitzontal Institut TIC de Barcelona (Color).png";
---

<header class="BlockHead">
    <div class="InfoHeader">
        <div class="Phone">
            <img src="../../public/assets/Header-Icons/phone.png" alt="Icon Phone" />
            935128822
        </div>
        <div class="Email">
            <img src="../../public/assets/Header-Icons/mail.png" alt="Icon Mail" />
            oficines@iticbcn.cat
        </div>
        <div class="Location">
            <img src="../../public/assets/Header-Icons/marker.png" alt="Icon Marker" />
            C/ Sancho de Ávila, 131 08018 Barcelona
        </div>
        <div class="Login">
            <div class="dropdown" id="profile-dropdown">
                <img src="../../public/assets/Header-Icons/avatar (1).png" alt="Icon Login" id="profile-icon" />
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/Configuracion-perfil">Configuración de Perfil</a>
                    <a href="#" id="logout">Cerrar sesión</a>
                    <a href="/Login" id="login">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <div id="container-header">
        <div id="logo-itic-header">
            <a href="/">
                <Image src={LogoITIC} alt={"Logo del centro escolar ITIC"} />
            </a>
        </div>
        <div id="header-opciones">
            <a href="/Instituto">Instituto</a>
            <a href="/Estudios">Estudios</a>
            <a href="/Erasmus">Erasmus+</a>
            <a href="/Contacto">Contacto</a>
        </div>
        <div id="extensiones-header">
            <p><a href="https://app.dinantia.com/login">Dinantia</a></p>
            <p><a href="https://educaciodigital.cat/iticbcn/moodle/login/index.php">Moodle</a></p>
        </div>
    </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", async function() {
    const token = localStorage.getItem('token');
    const logoutLink = document.getElementById('logout');
    const loginLink = document.getElementById('login');
    const profileDropdown = document.getElementById('profile-dropdown');
    const profileIcon = document.getElementById('profile-icon');

    if (token) {
      loginLink.style.display = 'none';
      profileDropdown.style.border = '3px solid green';  // Borde más gordo
      
      try {
        const response = await fetch('http://localhost:3000/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
          }
        });

        if (response.ok) {
          const data = await response.json();
          if (data.fotoPerfil) {
            profileIcon.src = `http://localhost:3000${data.fotoPerfil}`;
          }
        } else {
          console.error('Error al obtener datos del usuario');
        }
      } catch (error) {
        console.error('Error:', error);
      }
    } else {
      logoutLink.style.display = 'none';
    }

    logoutLink.addEventListener('click', () => {
      localStorage.removeItem('token');
      window.location.href = '/Login';
    });
  });
</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    #header-opciones div a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    #container-header {
        display: flex;
        width: 100%;
        background-color: #f2ecec;
        height: 70px;
        align-items: center;
        box-sizing: border-box;
        position: sticky;
        top: 0px;
    }

    .BlockHead {
        position: sticky;
        top: 0px;
    }

    @media screen and (max-width: 715px) {
        #container-header {
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }

        #header-opciones {
            flex-direction: column;
            margin-top: 10px;
        }
        #header-opciones > div {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        #logo-itic-header {
            display: flex;
            justify-content: center;
        }
        #extensiones-header {
            flex-direction: column;
            margin: 0;
            justify-content: center;
        }
        #extensiones-header p {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
    #container-header > div {
        display: flex;
    }
    #logo-itic-header {
        margin-left: 2%;
        width: 30%;
    }
    #logo-itic-header img {
        max-width: 120px;
        max-height: 50px;
        object-fit: contain;
    }
    #header-opciones {
        display: flex;
        justify-content: center;
        gap: 8%;
        width: 50%;
    }
    #extensiones-header {
        display: flex;
        justify-content: end;
        width: 20%;
        gap: 3%;
        margin-right: 2%;
    }
    #profile-dropdown {
        border-radius: 50%;
        object-fit: cover;
    }
    #profile-dropdown img {
        border-radius: 50%;
        object-fit: cover;
    }

    .InfoHeader {
        background-color: rgb(133, 133, 133);
        display: flex;
        width: 100%;
        height: 50px;
        margin: 0 auto;
    }

    .Phone {
        display: flex;
        align-items: center;
        width: 12%;
    }

    .Phone img {
        margin-left: 4%;
        margin-right: 2%;
    }

    .Email {
        display: flex;
        align-items: center;
        width: 19%;
    }

    .Email img {
        margin-left: 2%;
        margin-right: 2%;
    }

    .Location {
        display: flex;
        align-items: center;
        width: 33%;
    }

    .Location img {
        margin-left: 1%;
        margin-right: 2%;
    }

    .Login {
        display: flex;
        align-items: center;
        width: 36%;
        justify-content: end;
    }

    .Login .dropdown {
        position: relative;
        display: inline-block;
    }

    .Login img {
        margin-right: 2%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        left: -90px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
