---

import Layout from "../../layouts/Layout.astro";---

<Layout title="Historia Instituto">
    <div class="container">
        <h1>Historia</h1>
        <p>
            Les persones responsables del CEB (Consorci d’Educació de Barcelona), com a servei territorial del Departament d’Educació de Catalunya, dins del pla director d’ordenació de l’oferta educativa de la ciutat de Barcelona aproven la creació de l’Institut TIC de Barcelona (Institut de Tecnologies de la Informació i la Comunicació de Barcelona).
        </p>
        <p>
            Aquest nou centre concentrarà l’oferta educativa de formació professional, de la família d’Informàtica i Comunicacions, de dos instituts de la ciutat de Barcelona: l’Institut Jaume Balmes i l’Institut Joan d’Àustria, que deixaran d’oferir aquestes ofertes educatives en finalitzar el curs acadèmic 2022-2023.
        </p>
        <p>
            Es determina que en aquest nou centre s’ampliarà l’oferta educativa dels dos centres d’origen, amb noves etapes i estudis, com els PFI, que no estaven implantats als instituts indicats.
        </p>
    </div>
</Layout>