<div id="OnSom" class="content">
        <header class="entry-header">
            <h1 class="entry-title">On Som</h1>
        </header>
        <div class="entry-content">
            <h3>Direcció</h3>
            <p>Carrer de Sancho de Ávila, 131-137, 08018 Barcelona</p>
            <h3>Telèfon</h3>
            <p>935 12 88 22</p>
            <h3>Correu electrònic</h3>
            <p>oficines@iticbcn.cat</p>
            <h3>Com arribar-hi</h3>
            <p>L’ITIC de Barcelona està ubicat al districte de Sant Martí, molt a prop de la parada de metro Glòries (L1) i de diverses línies d’autobusos.</p>
            <h3>Transport públic</h3>
            <ul>
                <li><strong>Metro:</strong> L1 (parada Glòries)</li>
                <li><strong>Autobús:</strong> línies H12, 7, 192, 62</li>
                <li><strong>Tramvia:</strong> T4 (parada Glòries)</li>
            </ul>
            <h3>Mapa</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.026524617236!2d2.191710815260019!3d41.40363397926207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a3f5a6a6b8d7%3A0x8a51f08bd1e16b77!2sCarrer%20de%20Sancho%20de%20%C3%81vila%2C%20131%2C%2008018%20Barcelona%2C%20Spain!5e0!3m2!1sen!2sus!4v1626351745717!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

<style>
  .content {
      padding: 20px;
      background-color: #f2f2f2; 
      margin-left: 20px; 
      margin-top: 20px; 
      font-family: 'Outfit', sans-serif;
  }

  .entry-header {
      margin-bottom: 20px;
      position: static;
  }

  .entry-title {
      font-size: 2em;
      color: #3A31F4;
  }

  .entry-content h3 {
      font-size: 1.5em;
      color: #008C72;
      margin-top: 20px;
  }

  .entry-content p {
      font-size: 1.1em;
      color: #333;
  }

  .entry-content ul {
      list-style-type: none;
      padding: 0;
  }

  .entry-content ul li {
      font-size: 1.1em;
      color: #333;
      margin-bottom: 10px;
  }

  iframe {
      margin-top: 20px;
      max-width: 100%;
  }

  @media (max-width: 768px) {
      .content {
          margin-left: 0;
          margin-top: 0; 
      }
  }
</style>
