---
import Layout from "../../layouts/Layout.astro";
import Image from "../../components/Image.astro";
---
<Layout title="Organigrama">
    <div class="container">
        <h1>Organigrama</h1>
        <p>Los organismos colegiados del centro són:</p>
        <ul>
            <li>El consejo escolar del centro</li>
            <li>El Claustre del professorat, compost per tot el professorat assignat a l’Institut.</li>
        </ul>

        <p>
            Les dependències funcionals, del personal que formem part de l’Institut TIC de Barcelona, es mostren en el següent esquema de dependències (organigrama funcional), on la part central correspon als membres de l’equip directiu:
        </p>
        <Image alt="Imagen organigrama del centro" />
    </div>
</Layout>