    <div class="entry-body">
        <header class="entry-header">
            <h1 class="entry-title">Erasmus Policy Statement</h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
            <p>The TIC Institute of Barcelona (ITICBCN) is a public institution located in the city of Barcelona. It is an educational vocational training centre dedicated exclusively to information and communication technologies. Its educational offer covers vocational training programs at basic, intermediate, higher and specialisation levels.</p>
            <p>The inherent cohesion between information and communication technologies, together with the internalisation and modernization of the institute, position the mobility project as a priority from its conception.</p>
            <p>The TIC Institute of Barcelona not only aims to train competent ICT professionals, but is also firmly committed to the internationalisation of the institution. We understand that these two objectives are intrinsically linked. To provide quality training and develop highly competent professionals in the field of ICT, it is imperative that the centre acquires a European dimension and establishes solid connections with the educational and business community internationally.</p>
            <p>In order to meet the objectives established in the internationalisation policy of our centre, it is a priority to obtain the certification that accredits higher education centres to be able to participate in mobility projects within the framework of the Erasmus+ Program, the ECHE letter.</p>
            <p>Obtaining the Erasmus Charter for Higher Education (ECHE) would expand the opportunities for higher vocational training students and centre staff to carry out stays in Europe as part of the Erasmus+ programme. We hope that this achievement will motivate us to further strengthen the principles of equality and inclusion in our institution, with a special focus on supporting the most vulnerable groups.</p>
            <p>Mobility activities play a crucial role in the internationalisation process of our centre by offering students and staff the opportunity to improve their personal, professional, social, intercultural and linguistic skills. We seek to cultivate students who are active citizens, committed to democratic values ​​and sustainable development.</p>
            <p>We will carry out the following mobility activities:</p>
            <p><strong>Erasmus Key Action 1 (KA1) – Learning mobility:</strong></p>
            <ul>
                <li>The mobility of higher education students and staff</li>
            </ul>
            <p><strong>Erasmus Key Action 2 (KA2) – Cooperation among organisations and institutions:</strong></p>
            <ul>
                <li>Partnerships for Cooperation and exchanges of practices</li>
                <li>Partnerships for Innovation</li>
            </ul>
            <p><strong>Below are the 6 main objectives established in the internalisation policy of the TIC Institute of Barcelona:</strong></p>
            <h4>1. Promote incoming and outgoing mobility of students and staff.</h4>
            <p>The first objective of our internationalisation strategy is to promote both the outgoing mobility of our students and staff and the reception of incoming participants.</p>
            <p>This approach is essential to enrich the educational and professional experience of our academic community. To successfully achieve this goal, it is crucial to obtain Erasmus Charter for Higher Education (ECHE) accreditation. Having this accreditation is a fundamental step, as it enables both our students and staff to participate in the Erasmus+ programme.</p>
            <p>This participation not only broadens educational and professional horizons, but also contributes significantly to cultural enrichment and knowledge exchange within our educational community.</p>
            <h4>2. Improve the personal and linguistic skills of students and staff.</h4>
            <p>First of all, it should be noted that improving the personal and linguistic skills of students and staff is a key objective for our centre. As a means to achieve this objective, it is relevant to highlight the crucial relationship between foreign languages, especially English, and information and communication technologies.</p>
            <p>The Erasmus+ program promotes mobility by giving its participants the opportunity to live, study or work in a European country, improving their linguistic and interpersonal skills, also called soft skills.</p>
            <p>Participation in the Erasmus+ program not only allows you to live and train in Europe, but also broadens students’ worldview, encouraging adaptability and intercultural collaboration. This intercultural experience in a globalised world enhances students’ ability to work and collaborate with people from different backgrounds, promoting understanding and tolerance in work and personal life.</p>
            <p>In conclusion, participation in Erasmus+ contributes significantly to improving linguistic and personal skills through a valuable intercultural experience.</p>
            <h4>3. Labour integration and entrepreneurship.</h4>
            <p>Participation in the Erasmus+ program offers students work opportunities in Europe and encourages entrepreneurship, creativity and innovation through contact with other forms of work in European companies and schools.</p>
            <p>The unique experience obtained by living, studying and working abroad favours the development of an international mindset appreciated by employers in a globalised environment.</p>
            <p>Very interesting future job opportunities open up during internships in European companies. The program promotes highly valued personal skills, such as adaptability and intercultural communication. This experience sets students apart, fostering open-mindedness and adaptability, key elements in a resume.</p>
            <p>Knowing foreign educational systems and developing work practices in Europe broadens the perspective of the participants, adaptable to international work environments and providing them with a competitive advantage in the labour market.</p>
            <h4>4. Develop and participate in international cooperation projects respecting the environment.</h4>
            <p>Our objective is to develop and participate in international cooperation projects while respecting the environment. To do this, we will use environmentally friendly practices in all phases of the project and implement the following strategies.</p>
            <p>Firstly, the signing of collaboration agreements with international academic institutions and companies will be actively sought, establishing specific goals to increase the number of agreements within a given period.</p>
            <p>One of our objectives is to select international partners and companies based on their skills and professionalism, following the same principles already established for the selection of local companies. Regarding academic institutions, it is crucial that their training offer is similar and compatible with ours.</p>
            <p>Within this framework, we will actively work to establish collaborations with institutions that can offer our students and staff the opportunity to participate in training programs abroad, internships and staff exchanges.</p>
            <p>Our strategy involves implementing Erasmus Key Action 2 (KA2) type activities – Cooperation between organisations and institutions, establishing contact with European institutions with similar characteristics, seeking to build relationships of trust that allow us to forge mutually beneficial alliances.</p>
            <p>In this collaborative approach, our internship department will be responsible for facilitating internship opportunities for our partners’ students, while our partners will carry out similar activities in their respective territories. This approach seeks to foster reciprocal collaboration that expands opportunities for students at both institutions. Through this strategy we will optimise the challenging task of finding foreign companies where our students can do internships.</p>
            <p>The centre’s staff will also experience significant benefits derived from collaboration with our European partners, as they will have the opportunity to participate in activities linked to teaching and research with these institutions. This synergy creates a mutually beneficial scenario where both parties win, considerably simplifying the management of mobility stays on an international level.</p>
            <p>One of the ways to identify European partners will be carried out through the two government organisations with which we maintain active collaboration; The BCN FP Foundation and the mobility consortium of the Department of Education of the Generalitat of Catalonia.</p>
            <p>Through this accreditation we also want to make official the ongoing collaborations that we already carry out with various entities and expand the number of partners. Our goal is to build strategic alliances that foster solid and lasting relationships, creating an environment in which both parties obtain mutual benefits.</p>
            <p>Participation in the Erasmus+ program will allow us to promote the modernization of our institution through the establishment of links with international companies and cross-border cooperation with other higher education institutions.</p>
            <p>Through collaborations and joint projects, staff strengthen academic ties and contribute to the development of innovative pedagogical approaches. Student mobility facilitates the creation of international contact networks, beneficial for the exchange of ideas and access to shared educational resources.</p>
            <p>Another way to expand our collaborations is through international events and fairs related to information and communication technologies. We will attend these events to network and explore opportunities for collaboration.</p>
            <p>These strategic efforts will allow us to strengthen our connections with the academic and business community internationally, expanding our presence and opportunities for collaboration.</p>
            <h4>5. Enrichment of educational methodology through a European approach.</h4>
            <p>Participation in the Erasmus+ program emerges as a key element to optimise and enrich the centre’s educational methodology.</p>
            <p>Through this initiative, the exchange of knowledge with leading European institutions in the field of technology allows the integration of innovative educational approaches and best pedagogical practices.</p>
            <p>The mobility of academic staff enables access to new perspectives and teaching methods, thus enriching the centre’s educational offering. Exposure to diverse cultural contexts and educational systems offers a global vision that translates into curricular adjustments aligned with the demands of the labour market and international trends.</p>
            <p>In short, active participation in the Erasmus+ program not only improves the quality of teaching, but also ensures that the centre is positioned as a benchmark in the preparation of highly competent professionals adapted to a constantly evolving technological environment.</p>
            <h4>6. Promotion of cultural awareness through the values ​​of the European Union.</h4>
            <p>The participation of the TIC Institute of Barcelona in the Erasmus+ program is a powerful tool to strengthen the integration of cultural awareness based on the values ​​of the European Union. Both students and school staff will contribute to creating a sense of European identity, promoting tolerance, respect and social participation.</p>
            <p>Through international mobility projects, intercultural understanding and mutual respect will be fostered. Collaboration with institutions and companies will enrich cultural perspectives, promoting an open mindset in line with European values ​​of diversity and tolerance.</p>
            <p>The Erasmus+ program promotes fundamental values ​​of the European Union, strengthening European identity and contributing to the formation of citizens committed to these principles. The experience gained will be integrated into regular teaching, allowing teachers to enrich educational content with global perspectives.</p>
            <p>In line with the objective of developing an educational internal market, the mobility of students and staff will be facilitated through strategic collaborations with European educational institutions.</p>
            <p>In addition, they are committed to improving scientific and technological progress by encouraging research and collaboration in cutting-edge technological areas.</p>
            <p>Regarding fundamental values, they will ensure an inclusive educational environment that promotes diversity and encourages academic and personal freedom. Participation in Erasmus+ programs will extend these freedoms beyond borders, enriching the educational experience and encouraging active citizenship.</p>
            <p>The promotion of democratic practices, equal opportunities and respect for the rule of law are essential aspects that they will integrate into their daily policies and practices.</p>
            <p>In summary, the strategy goes beyond academic improvement, seeking to train European citizens who are committed and aware of their responsibilities in building a society based on the values ​​and objectives of the EU.</p>
        </div><!-- .entry-content -->
        <footer class="entry-footer">
        </footer><!-- .entry-footer -->
    </div>


<style>
    .entry-body {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin: 20px 0;
    }

    .entry-header {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: static;
    }

    .entry-title {
        font-family: 'Outfit', sans-serif;
        font-weight: 600; 
        color: #2f29a1; 
        
    }

    .entry-content p {
        font-family: 'Outfit', sans-serif;
        color: #333;
        line-height: 1.6;
        margin: 10px 0;
    }

    .entry-content h4 {
        font-family: 'Outfit', sans-serif;
        font-weight: 600; 
        color: #3A31F4;
        margin-top: 20px;
    }

    .entry-content ul {
        margin: 10px 0;
        padding-left: 20px;
    }

    .entry-content ul li {
        margin-bottom: 10px;
    }
</style>
