---
import Layout from "../../layouts/Layout.astro";
import Sidebar from '../../components/react-components/Sidebar';

const sidebarLinks = [
  { text: "Erasmus Policy Statement", href: "/Erasmus/Erasmus-Policy-Statement" },
  { text: "ITICBCN Erasmus data sheet", href: "/Erasmus/ITICBCN-Erasmus-data-sheet" },
  { text: "Mobilitat d’alumnat", href: "/Erasmus/Mobilitat-d’alumnat" },
  { text: "Mobilitat de professorat", href: "/Erasmus/Mobilitat-de-professorat" }
];
---

<Layout title="Erasmus">
    <div class="main-container">
        <Sidebar title="Erasmus+" links={sidebarLinks} />
        <div id="contenido" class="content">
            <!-- Contenido dinámico cargado aquí -->
        </div>
    </div>
</Layout>

<style>
  .main-container {
      display: flex;
      min-height: 100vh;
  }

  .content {
      flex-grow: 1;
      padding: 20px;
      background-color: #f2f2f2; 
      margin-left: 2px; 
      margin-top: 20px;
  }

  body {
      font-family: 'Outfit', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #e6e6e6; 
  }

  header {
      top: 0;
      position: sticky;
      z-index: 3;
      background: white;
      width: 100%;
  }

  footer {
      position: relative;
      z-index: 2;
      background: white; 
  }

  @media (max-width: 768px) {
      .content {
          margin-left: 0;
          margin-top: 0;
      }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var links = document.querySelectorAll('.sidebar a');
      var contenido = document.getElementById('contenido');
      var initialUrl = '/Erasmus/Erasmus-Policy-Statement';

      // Cargar contenido inicial
      var xhr = new XMLHttpRequest();
      xhr.open('GET', initialUrl, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                  contenido.innerHTML = xhr.responseText;
              } else {
                  console.error('Error al cargar el contenido:', xhr.statusText);
              }
          }
      };
      xhr.send();

      links.forEach(function(link) {
          link.addEventListener('click', function(e) {
              e.preventDefault();
              var url = this.getAttribute('href');

              var xhr = new XMLHttpRequest();
              xhr.open('GET', url, true);
              xhr.onreadystatechange = function() {
                  if (xhr.readyState === XMLHttpRequest.DONE) {
                      if (xhr.status === 200) {
                          contenido.innerHTML = xhr.responseText;
                      } else {
                          console.error('Error al cargar el contenido:', xhr.statusText);
                      }
                  }
              };
              xhr.send();
          });
      });
  });
</script>
