    <header class="entry-header">
    </header>

    <div class="container">
        <h2>ITICBCN Erasmus Data Sheet</h2>
        <p>A continuación, puedes encontrar el enlace para descargar la hoja de datos de Erasmus del ITICBCN:</p>
        <p>Esta hoja de datos proporciona información detallada sobre la participación del ITICBCN en el programa Erasmus+, incluyendo objetivos, actividades de movilidad y resultados esperados.</p>
        <p>
            <a href="/downloads/ITICBCN-Erasmus-data-sheet.pdf" download>
                Descargar Hoja de Datos Erasmus ITICBCN (PDF)
            </a>
        </p>
    </div>


<style>
  .container {
      background-color: #f2f2f2; 
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  h2 {
      font-family: 'Outfit', sans-serif;
      font-weight: 600; 
      color: #2f29a1; 
      margin-bottom: 20px;
  }

  p {
      font-family: 'Outfit', sans-serif;
      color: #333;
      line-height: 1.6;
  }

  a {
      color: #3A31F4; 
      text-decoration: none;
      font-weight: bold;
  }

  a:hover {
      text-decoration: underline;
  }
</style>
