---
import Layout from "../../layouts/Layout.astro";
---

<!--
<Layout title="Mobilitat de professorat">
-->
    <div class="entry-body">

        <header class="entry-header">
            <h1 class="entry-title">Mobilitat de professorat</h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
            <h3>A qui va dirigit</h3>
            <p><span style="font-weight: 400;">Al professorat de l’Institut TIC de Barcelona; interins, funcionaris en pràctiques i funcionaris de carrera.</span></p>
            <h3>En què consisteix</h3>
            <p><span style="font-weight: 400;">A través de la <a href="https://www.fundaciobcnfp.cat/" target="_blank" rel="noopener">Fundació BCN FP</a> i el <a href="https://projectes.xtec.cat/mobilitatfp/" target="_blank" rel="noopener">Programa d’innovació pedagògica Mobilitat FP</a> del Departament d’Educació, s’ofereix la possibilitat de realitzar estades de mobilitat en el estranger relacionades amb la innovació, l’intercanvi de bones pràctiques i la formació del professorat.</span></p>
            <p><span style="font-weight: 400;"><b>Fundació BCN FP</b>: El professorat participant en estades organitzades per la <a href="https://www.fundaciobcnfp.cat/" target="_blank" rel="noopener">Fundació BCN FP</a> &nbsp;</span><span style="font-weight: 400;">estarà en contacte directe amb seus responsables per tal d’enllestir els detalls de l’estada; itinerari a seguir, activitats a realitzar, etc.&nbsp;</span><span style="font-weight: 400;">A més a més, a través de l’equip de mobilitat del centre, se’ls informarà i assessorarà en els possibles dubtes que sorgeixin durant tot el procés.</span></p>
            <p><b>Mobilitat FP</b><span style="font-weight: 400;">: Aquest programa promou l’articulació d’actuacions en centres educatius d’ensenyaments professionals per a projectes de mobilitat de cooperació internacional relacionades amb la innovació i l’intercanvi de bones pràctiques.</span></p>
            <h3>Quan tenen lloc</h3>
            <p><span style="font-weight: 400;"><b>Fundació BCN FP: </b>Les estades del projecte Erasmus+ professorat FP es duran a terme durant els mesos de març i octubre del 2024. </span></p>
            <p><span style="font-weight: 400;"><b>Mobilitat FP: </b>Les estades del projecte </span><b>Mobilitat FP</b><span style="font-weight: 400;"> es duran a terme durant el mes de juliol del 2024.</span></p>
            <h3>Com es pot participar</h3>
            <p><span style="font-weight: 400;">Per tal de participar, el professorat interessat haurà d’enviar <a href="https://agora.xtec.cat/iticbcn/wp-content/uploads/usu2389/2023/11/Compromís-de-participació-en-el-programa-de-mobilitat-internacional-professorat.pdf" target="_blank" rel="noopener">la sol·licitud de participació </a>a l’adreça del l’equip de mobilitat, mobilitat<span class="">@iticbcn.cat</span> , abans que finalitzi el mes de gener.</span></p>
            <h3>Criteris de selecció</h3>
            <p><span style="font-weight: 400;">Per a la selecció d’aspirants, i sempre que el número de interessats sigui superior al número de places ofertes, es tindran presents els següents criteris:&nbsp;</span></p>
            <table style="width: 85.9966%; height: 432px;">
                <tbody>
                <tr style="height: 38px;">
                    <td style="height: 38px;"><b>Concepte&nbsp;</b></td>
                    <td style="height: 38px;"><b>Instrument</b></td>
                    <td style="height: 38px;"><b>Valoració</b></td>
                </tr>
                <tr style="height: 129px;">
                    <td style="height: 129px;"><a href="https://espai.educacio.gencat.cat/Centres/Innovacio-pedagogica/Programes/Innovacio-FP/Pagines/default.aspx" target="_blank" rel="noopener"><span style="font-weight: 400;">Participació en programes d’innovació pedagògica</span></a></td>
                    <td style="height: 129px;"><span style="font-weight: 400;">Entrevista personal i/o enquesta.</span><p></p>
                        <p><span style="font-weight: 400;">Recollida d’informació</span></p></td>
                    <td style="height: 129px;"><span style="font-weight: 400;">30%</span></td>
                </tr>
                <tr style="height: 57px;">
                    <td style="height: 57px;"><span style="font-weight: 400;">Nivell d’idiomes estrangers (mínim un B1).&nbsp;</span></td>
                    <td style="height: 57px;"><span style="font-weight: 400;">Certificats oficials&nbsp;</span></td>
                    <td style="height: 57px;"><span style="font-weight: 400;">30%</span></td>
                </tr>
                <tr style="height: 57px;">
                    <td style="height: 57px;"><span style="font-weight: 400;">Hores de formació reconegudes a ATRI.</span></td>
                    <td style="height: 57px;"><span style="font-weight: 400;">Extracte resum d’ATRI.</span></td>
                    <td style="height: 57px;"><span style="font-weight: 400;">10%</span></td>
                </tr>
                <tr style="height: 151px;">
                    <td style="height: 151px;"><span style="font-weight: 400;">Hores programades als mòduls impartits de metodologia AICLE.</span><span style="font-weight: 400;">Tutoria FCT-DUAL o càrrec del centre.</span></td>
                    <td style="height: 151px;"><span style="font-weight: 400;">Programació del Mòdul Professional</span><span style="font-weight: 400;">Assignació càrrec actual o passat (ATRI).</span></td>
                    <td style="height: 151px;"><span style="font-weight: 400;">30%</span></td>
                </tr>
                </tbody>
            </table>
            <h3>Comunicació</h3>
            <p><span style="font-weight: 400;">El resultat del procés de selecció es comunicarà als interessats via correu electrònic, tot indicant-ne la posició obtinguda en l’ordre de selecció i el nom del professorat que resta en llista d’espera.&nbsp;</span></p>
<!--             <div class="addtoany_share_save_container addtoany_content addtoany_content_bottom"><div class="a2a_kit a2a_kit_size_25 addtoany_list" data-a2a-url="https://agora.xtec.cat/iticbcn/international-mobility/mobilitat-de-professorat/" data-a2a-title="Mobilitat de professorat" style="line-height: 25px;"><a class="a2a_button_facebook" href="/#facebook" title="Facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(8, 102, 255); width: 25px; line-height: 25px; height: 25px; background-size: 25px; border-radius: 4px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#fff" d="M28 16c0-6.627-5.373-12-12-12S4 9.373 4 16c0 5.628 3.875 10.35 9.101 11.647v-7.98h-2.474V16H13.1v-1.58c0-4.085 1.849-5.978 5.859-5.978.76 0 2.072.15 2.608.298v3.325c-.283-.03-.775-.045-1.386-.045-1.967 0-2.728.745-2.728 2.683V16h3.92l-.673 3.667h-3.247v8.245C23.395 27.195 28 22.135 28 16"></path></svg></span><span class="a2a_label">Facebook</span></a><a class="a2a_button_twitter" href="/#twitter" title="Twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(29, 155, 240); width: 25px; line-height: 25px; height: 25px; background-size: 25px; border-radius: 4px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a10 10 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.7 9.7 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.94 4.94 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a5 5 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174q-.476-.001-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.9 9.9 0 0 1-6.114 2.107q-.597 0-1.175-.068a13.95 13.95 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013q0-.32-.015-.637c.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a><a class="a2a_button_whatsapp" href="/#whatsapp" title="WhatsApp" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_whatsapp" style="background-color: rgb(18, 175, 10); width: 25px; line-height: 25px; height: 25px; background-size: 25px; border-radius: 4px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" fill-rule="evenodd" d="M16.21 4.41C9.973 4.41 4.917 9.465 4.917 15.7c0 2.134.592 4.13 1.62 5.832L4.5 27.59l6.25-2.002a11.24 11.24 0 0 0 5.46 1.404c6.234 0 11.29-5.055 11.29-11.29 0-6.237-5.056-11.292-11.29-11.292m0 20.69c-1.91 0-3.69-.57-5.173-1.553l-3.61 1.156 1.173-3.49a9.35 9.35 0 0 1-1.79-5.512c0-5.18 4.217-9.4 9.4-9.4s9.397 4.22 9.397 9.4c0 5.188-4.214 9.4-9.398 9.4zm5.293-6.832c-.284-.155-1.673-.906-1.934-1.012-.265-.106-.455-.16-.658.12s-.78.91-.954 1.096c-.176.186-.345.203-.628.048-.282-.154-1.2-.494-2.264-1.517-.83-.795-1.373-1.76-1.53-2.055s0-.445.15-.584c.134-.124.3-.326.45-.488.15-.163.203-.28.306-.47.104-.19.06-.36-.005-.506-.066-.147-.59-1.587-.81-2.173-.218-.586-.46-.498-.63-.505-.168-.007-.358-.038-.55-.045-.19-.007-.51.054-.78.332-.277.274-1.05.943-1.1 2.362-.055 1.418.926 2.826 1.064 3.023.137.2 1.874 3.272 4.76 4.537 2.888 1.264 2.9.878 3.43.85.53-.027 1.734-.633 2-1.297s.287-1.24.22-1.363c-.07-.123-.26-.203-.54-.357z" clip-rule="evenodd"></path></svg></span><span class="a2a_label">WhatsApp</span></a><a class="a2a_button_google_gmail" href="/#google_gmail" title="Gmail" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_gmail" style="background-color: rgb(234, 67, 53); width: 25px; line-height: 25px; height: 25px; background-size: 25px; border-radius: 4px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#fff" d="M6.5 24.504H10v-8.5l-5-3.75v10.75c0 .83.673 1.5 1.5 1.5m15.5 0h3.5a1.5 1.5 0 0 0 1.5-1.5v-10.75l-5 3.75" opacity=".9"></path><path fill="#fff" d="M22 9.504v6.5l5-3.75v-2c0-1.855-2.117-2.912-3.6-1.8"></path><path fill="#fff" d="M10 16.004v-6.5l6 4.5 6-4.5v6.5l-6 4.5" opacity=".9"></path><path fill="#fff" d="M5 10.254v2l5 3.75v-6.5l-1.4-1.05C7.115 7.342 5 8.4 5 10.254"></path></svg></span><span class="a2a_label">Gmail</span></a></div></div>                </div><!-- .entry-content -->
-->
            <footer class="entry-footer">
        </footer><!-- .entry-footer -->

    </div>
<!--
</Layout>
-->
<style>
    *{
        color: white;
    }
</style>