<div id="cfgs-dam" class="content">
    <h1>CFGS Desenvolupament d’Aplicacions Multiplataforma (DAM) (ICB0)</h1>
    
    <h2>Introducció</h2>
    <p>Pots estudiar DAM si vols desenvolupar aplicacions informàtiques per la gestió empresarial i de negoci, de propòsit general i en l’àmbit de l’entreteniment (videojocs) i la informàtica mòbil (Apps).</p>

    <h2>Per què a l’ITICBCN?</h2>
    <p>Perquè pots venir a estudiar DAM amb nosaltres en modalitat DUAL. Així que el 80% de les hores de segon curs et podràs formar treballant a les empreses amb les quals tenim conveni de col·laboració, cobrant un sou i creixent professionalment.</p>
    <p>Perquè gràcies a l’acord que tenim amb Oracle, pots obtenir les certificacions en Disseny de bases de dades i programació amb SQL, Programació de bases de dades amb PL/SQL, Fonaments de Java i Programació amb Java.</p>
    <p>Perquè treballaràs amb tecnologia Cloud puntera, com AWS. i podràs fer pràctiques a importants empreses del sector.</p>
    <p>Perquè el nostre professorat és expert en les matèries que imparteix.</p>

    <h2>En quin horari?</h2>
    <p>Les classes a primer de matí en horari de 8:00h a 13:30h i segon curs són a la tarda, de 14:30h a 21:00h.</p>
    <p>Durant el segon curs faràs la formació en centres de treball (FCT) o formació DUAL en horari de matí.</p>
    <p>En el cas de FCT, faràs pràctiques al matí i classes de tarda de 14:30h a 21:00h.</p>
    <p>En cas de formació DUAL, faràs al matí (5 hores) a l’empresa i estaràs 3 hores al centre, de 18:00h a 21:00h.</p>

    <h2>Objectius</h2>
    <p>L’objectiu dels estudis és formar professionals amb la capacitat de desenvolupar, implantar, documentar i mantenir aplicacions informàtiques multiplataforma, utilitzant tecnologies i entorns de desenvolupament específics i garantint l’accés a les dades de forma segura, pel que cal aprendre a:</p>
    <ul>
        <li>Configurar i explotar sistemes informàtics.</li>
        <li>Aplicar tècniques i procediments relacionats amb la seguretat en sistemes, serveis i aplicacions.</li>
        <li>Gestionar bases de dades, interpretant-ne el disseny lògic i verificant la integritat, la consistència, la seguretat i l’accessibilitat de les dades.</li>
        <li>Gestionar entorns de desenvolupament adaptant-ne la configuració en cada cas per permetre el desenvolupament i el desplegament d’aplicacions.</li>
        <li>Desenvolupar aplicacions multiplataforma amb accés a bases de dades utilitzant llenguatges, llibreries i eines adequats.</li>
        <li>Desenvolupar aplicacions implementant un sistema complet de formularis i informes que permetin gestionar de forma integral la informació emmagatzemada.</li>
        <li>Integrar continguts gràfics i components multimèdia en aplicacions multiplataforma.</li>
        <li>Desenvolupar interfícies gràfiques d’usuari interactives i amb la usabilitat adequada, utilitzant components visuals estàndard o implementant components visuals específics.</li>
        <li>Participar en el desenvolupament de jocs i aplicacions en l’àmbit de l’entreteniment i l’educació emprant tècniques, motors i entorns de desenvolupament específics.</li>
        <li>Desenvolupar aplicacions per a telèfons, PDA i altres dispositius mòbils emprant tècniques i entorns de desenvolupament específics.</li>
        <li>Crear ajudes generals i sensibles al context, utilitzant eines específiques i integrant-les en les seves corresponents aplicacions.</li>
        <li>Crear tutorials, manuals d’usuari, d’instal·lació, de configuració i d’administració, emprant eines específiques.</li>
        <li>Empaquetar aplicacions per distribuir preparant paquets autoinstal·lables amb assistents incorporats.</li>
        <li>Desenvolupar aplicacions multiprocés i multifil utilitzant llibreries i tècniques de programació específiques.</li>
        <li>Desenvolupar aplicacions capaces d’oferir serveis en xarxa emprant mecanismes de comunicació.</li>
        <li>Participar en la implantació de sistemes ERP-CRM, gestionar-los i garantir la integritat.</li>
        <li>Desenvolupar components personalitzats per a un sistema ERP-CRM</li>
        <li>Realitzar plans de proves verificant el funcionament dels components programari desenvolupats, segons les especificacions.</li>
        <li>Desplegar i distribuir aplicacions en diferents àmbits d’implantació verificant-ne el comportament i realitzant les modificacions necessàries.</li>
    </ul>

    <h2>Estructura</h2>
    <h3>Duració</h3>
    <p>2000 hores</p>

    <h3>Titulació</h3>
    <p>Tècnic Superior en Desenvolupament d’Aplicacions Multiplataforma</p>

    <h3>Primer curs</h3>
    <ul>
        <li>MP01. Sistemes informàtics</li>
        <li>MP02. Bases de dades</li>
        <li>MP03. Programació bàsica</li>
        <li>MP04. Llenguatges de marques</li>
        <li>MP05. Entorns de desenvolupament</li>
        <li>MP10. Sistemes de gestió empresarial.</li>
        <li>MP11. Formació i orientació laboral</li>
    </ul>

    <h3>Segon curs</h3>
    <ul>
        <li>MP06. Accés a dades</li>
        <li>MP07. Desenvolupament d’interfícies.</li>
        <li>MP08. Programació multimèdia i dispositius mòbils</li>
        <li>MP09. Programació de serveis i processos.</li>
        <li>MP12. Empresa i iniciativa emprenedora</li>
        <li>MP13. Projecte</li>
        <li>MP14. Formació en centres de treball</li>
        <li>MP15. Orientació. Mòdul de 66 hores a triar entre:
            <ul>
                <li>Aprenentatge automàtic (Machine Learning)</li>
                <li>Big Data</li>
                <li>Intel·ligència artificial (IA)</li>
            </ul>
        </li>
    </ul>

    <h2>Sortides acadèmiques</h2>
    <ul>
        <li>A un grau universitari, amb reconeixement de part dels estudis cursats.</li>
        <li>A altres cicles formatius per complementar la formació, per exemple administració de sistemes informàtics en xarxes o desenvolupament d’aplicacions web.</li>
    </ul>

    <h2>Sortides professionals</h2>
    <p>Aquests estudis et permetran treballar de programador, desenvolupant aplicacions informàtiques per a la gestió empresarial i de negoci, de propòsit general i en l’àmbit de l’entreteniment i la informàtica mòbil.</p>

    <h2>Suplement europeu al títol</h2>
    <p>DAM: Europass Diploma Supplement: 120 crèdits ECTS distribuïts entre els mòduls</p>
</div>

<style>
    .content {
        padding: 40px;
        background-color: #f2f2f2;
        margin: 20px; 
        font-family: 'Outfit', sans-serif;
    }

    h1, h2, h3 {
        color: #333;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .content {
            padding: 20px;
            margin: 10px;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.75em;
        }

        h3 {
            font-size: 1.25em;
        }
    }
</style>
