<div id="cfgs-daw" class="content">
    <h1>CFGS Desenvolupament d’Aplicacions Web (DAW) (ICC0)</h1>
    
    <h2>Introducció</h2>
    <p>Aquests són els estudis ideals si et vols dedicar a desenvolupar, implantar i mantenir aplicacions web i aplicacions híbrides. Les aplicacions híbrides són aplicacions mòbils que estan dissenyades i programades amb llenguatges de programació web com CSS, HTML o JavaScript.</p>

    <h2>Per què a l’ITICBCN?</h2>
    <p>Perquè pots venir a estudiar DAM amb nosaltres en modalitat DUAL. Així que el 80% de les hores de segon curs et podràs formar treballant a les empreses amb les que tenim conveni de col·laboració, cobrant un sou i creixent professionalment.</p>
    <p>Perquè gràcies a l’acord que tenim amb Oracle, pots obtenir les certificacions en Disseny de bases de dades i programació amb SQL, Programació de bases de dades amb PL/SQL, Fonaments de Java i Programació amb Java.</p>
    <p>Perquè treballaràs amb tecnologia Cloud puntera, com AWS. i podràs fer pràctiques a importants empreses del sector.</p>
    <p>Perquè el nostre professorat és expert en les matèries que imparteix.</p>

    <h2>En quin horari?</h2>
    <p>Les classes a primer de matí en horari de 8:00h a 13:30h i segon curs són a la tarda, de 14:30h a 21:00h.</p>
    <p>Durant el segon curs faràs la formació en centres de treball (FCT) o formació DUAL en horari de matí.</p>
    <p>En el cas de FCT, faràs pràctiques al matí i classes de tarda de 14:30h a 21:00h.</p>
    <p>En cas de formació DUAL, faràs al matí (5 hores) a l’empresa i estaràs 3 hores al centre, de 18:00h a 21:00h.</p>

    <h2>Objectius</h2>
    <p>L’objectiu dels estudis és formar professionals amb la capacitat de desenvolupar, implantar i mantenir aplicacions web, amb independència del model emprat i utilitzant tecnologies específiques, garantint l’accés a les dades de forma segura, pel que cal aprendre a:</p>
    <ul>
        <li>Configurar i explotar sistemes informàtics.</li>
        <li>Aplicar tècniques i procediments relacionats amb la seguretat en sistemes, serveis i aplicacions.</li>
        <li>Gestionar servidors d’aplicacions i configurar-los per permetre el desplegament d’aplicacions web.</li>
        <li>Gestionar bases de dades.</li>
        <li>Desenvolupar aplicacions web amb accés a bases de dades.</li>
        <li>Desenvolupar interfícies en aplicacions web d’acord amb un manual d’estil.</li>
        <li>Desenvolupar components multimèdia i integrar-los en la interfície d’una aplicació web.</li>
        <li>Desenvolupar i integrar components programari en l’entorn del servidor web.</li>
        <li>Desenvolupar serveis per integrar les seves funcions en altres aplicacions web.</li>
        <li>Integrar serveis i continguts distribuïts en aplicacions web.</li>
        <li>Completar plans de proves verificant el funcionament dels components programari desenvolupats segons les especificacions.</li>
        <li>Elaborar i mantenir la documentació dels processos de desenvolupament utilitzant eines de generació de documentació i control de versions.</li>
        <li>Desplegar i distribuir aplicacions web.</li>
    </ul>

    <h2>Estructura</h2>
    <h3>Duració</h3>
    <p>2000 hores</p>

    <h3>Titulació</h3>
    <p>Tècnic Superior en Desenvolupament d’Aplicacions Web</p>

    <h3>Primer curs</h3>
    <ul>
        <li>MP01. Sistemes informàtics</li>
        <li>MP02. Bases de dades</li>
        <li>MP03. Programació</li>
        <li>MP04. Llenguatges de marques</li>
        <li>MP05. Entorns de desenvolupament.</li>
        <li>MP09. Disseny d’interfícies web</li>
        <li>MP10. Formació i orientació laboral</li>
    </ul>

    <h3>Segon curs</h3>
    <ul>
        <li>MP06. Desenvolupament web en entorn client</li>
        <li>MP07. Desenvolupament web en entorn servidor</li>
        <li>MP08. Desplegament d’aplicacions web</li>
        <li>MP11. Empresa i iniciativa emprenedora</li>
        <li>MP12. Projecte</li>
        <li>MP13. Formació en centres de treball</li>
        <li>MP14. Orientació. Mòdul de 66 hores a triar entre:
            <ul>
                <li>Aprenentatge automàtic (Machine Learning)</li>
                <li>Big Data</li>
                <li>Intel·ligència artificial (IA)</li>
            </ul>
        </li>
    </ul>

    <h2>Sortides acadèmiques</h2>
    <ul>
        <li>A un grau universitari, amb reconeixement de part dels estudis cursats.</li>
        <li>A altres cicles formatius per complementar la formació, per exemple administració de sistemes informàtics en xarxes o desenvolupament d’aplicacions web.</li>
    </ul>

    <h2>Sortides professionals</h2>
    <p>Aquests estudis et permetran treballar de programador, desenvolupant aplicacions web.</p>

    <h2>Suplement europeu al títol</h2>
    <p>DAW: Europass Diploma Supplement: 120 crèdits ECTS distribuïts entre els mòduls</p>
</div>

<style>
    .content {
        padding: 40px;
        background-color: #f2f2f2; 
        margin: 20px; 
        font-family: 'Outfit', sans-serif;
    }

    h1, h2, h3 {
        color: #333;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .content {
            padding: 20px;
            margin: 10px;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.75em;
        }

        h3 {
            font-size: 1.25em;
        }
    }
</style>
