---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main class="contact-main">
    <!-- Información de contacto -->
    <section class="contact-info">
      <h2>Información de contacto</h2>
      <p><strong>Teléfono:</strong> 935128822</p>
      <p><strong>Email:</strong> oficines@iticbcn.cat</p>
      <p><strong>Horario de atención de secretaría:</strong> Lunes a viernes de 9:00 a 17:00</p>
      <p><strong>Planta:</strong> Primera planta</p>
    </section>

    <!-- Mapa y cómo llegar -->
    <section class="map-section">
      <h2>Mapa y cómo llegar</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.6981009713695!2d2.1918263766154693!3d41.40236227129805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a34a248e331f%3A0xecad209a537d18aa!2sInstituto%20de%20Tecnolog%C3%ADas%20de%20la%20Informaci%C3%B3n%20y%20la%20Comunicaci%C3%B3n%20de%20Barcelona!5e0!3m2!1ses-419!2ses!4v1712762134283!5m2!1ses-419!2ses" width="600" height="450" allowFullScreen loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
      <p>Estamos ubicados en C/ Sancho de Ávila, 131, 08018 Barcelona.</p>
    </section>
  </main>
</Layout>

<script src="../../public//js/verifyToken.js"></script>

<style>
  .contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .contact-info, .map-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contact-info h2, .map-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .contact-info p, .map-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .map-section iframe {
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    .contact-main {
      grid-template-columns: 1fr;
    }

    .contact-info, .map-section {
      width: 100%;
    }

    .contact-info {
      margin-bottom: 20px;
    }
  }
</style>
