---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main>
    <!-- Información de contacto -->
    <section class="contact-info">
      <h2>Información de contacto</h2>
      <p><strong>Teléfono:</strong> 935128822</p>
      <p><strong>Email:</strong> oficines@iticbcn.cat</p>
      <p><strong>Horario de atención de secretaría:</strong> Lunes a viernes de 9:00 a 17:00</p>
      <p><strong>Planta:</strong> Primera planta</p>
    </section>

    <!-- Mapa y cómo llegar -->
    <section class="map-section">
      <h2>Mapa y cómo llegar</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.6981009713695!2d2.1918263766154693!3d41.40236227129805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a34a248e331f%3A0xecad209a537d18aa!2sInstituto%20de%20Tecnolog%C3%ADas%20de%20la%20Informaci%C3%B3n%20y%20la%20Comunicaci%C3%B3n%20de%20Barcelona!5e0!3m2!1ses-419!2ses!4v1712762134283!5m2!1ses-419!2ses" width="600" height="450" allowFullScreen loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
      <p>Estamos ubicados en C/ Sancho de Ávila, 131, 08018 Barcelona.</p>
    </section>
  </main>
</Layout>

<script>
  (function() {
    const token = localStorage.getItem('token');
    if (!token) {
      window.location.href = '/Login';
      return;
    }

    fetch('http://localhost:3000/verifyToken', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}`
      }
    }).then(response => {
      if (!response.ok) {
        window.location.href = '/login';
      }
      return response.json();
    }).then(data => {
      if (!data.valid) {
        window.location.href = '/login';
      }
    }).catch(error => {
      console.error('Error verifying token:', error);
      window.location.href = '/login';
    });
  })();
</script>
