---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.astro';
import NoticeCard from "../components/noticeCard.astro";
import logoItic from '../../public/assets/ITIC-LOGOs/logo horitzontal Institut TIC de Barcelona (Color).png'
import DefaultButton from '../components/react-components/DefaultButton.tsx'
import FormacionesItic from '../components/react-components/FormacionesItic.tsx'
import ButtonStyle2 from '../components/react-components/ButtonStyle2.tsx'
import Noticias from '../components/react-components/NoticiasHome.tsx'
import { Image } from 'astro:assets';
import Estudios from '../components/react-components/Estudios.jsx';
---

<Layout title="ITIC">

	<main>
		<>        
        <div id="container-body">              
            <section id="section-container">
                <div id="bloque1">
                    <div id="imagen-main">
                        <Image src={logoItic} alt="logotipo itic"  />    
                    </div>
                    <div id="bloque2">
                        <div id="descripcion">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, velit corporis nesciunt laudantium nemo natus consequuntur perferendis quas repellendus ad.</h3>
                        </div>
                        <div id="botones">
                            <DefaultButton h2="Puertas Abiertas" classProp="puertas-abiertas" />
                            <DefaultButton h2="Matriculación" classProp="matriculacion" />
                          </div>
                    </div>
                </div>  
            </section>
            
            <div id="estudios-container-home">
                <div id="etiqueta-estudios">
                    <Estudios mostrarDetalle={false} />  
                </div>              
            </div>
            

          <div class="titulo">
            <h1>Actualidad</h1>
        </div>
        <section id="section-noticias">
            
            <div id="bloqueActualidad">
                    <div>
                        <NoticeCard
                        href="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        title="Preinscripció 2024-2025: terminis, requisits i resta d’informació"
                        publicationDate="06/03/24"
                        author="ITICBCN"
                        imageUrl='../../public/assets/PostImages/Preinscripcio.png'
                        body="Al llarg dels mesos d’abril i maig desenvoluparem les Jornades de Portes Obertes del nostre institut, on explicarem els trets característics així com el funcionament i podrem resoldre els dubtes que pugueu tenir.Podeu consultar les dates i informacions sobre les jornades de Portes Obertes del…  "
                        readMoreUrl="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        />
                    </div>

                    <div>
                        <NoticeCard
                        href="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        title="Preinscripció 2024-2025: terminis, requisits i resta d’informació"
                        publicationDate="06/03/24"
                        author="ITICBCN"
                        imageUrl='../../public/assets/PostImages/Preinscripcio.png'
                        body="Al llarg dels mesos d’abril i maig desenvoluparem les Jornades de Portes Obertes del nostre institut, on explicarem els trets característics així com el funcionament i podrem resoldre els dubtes que pugueu tenir.Podeu consultar les dates i informacions sobre les jornades de Portes Obertes del…  "
                        readMoreUrl="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        />
                    </div>

                    <div>
                        <NoticeCard
                        href="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        title="Preinscripció 2024-2025: terminis, requisits i resta d’informació"
                        publicationDate="06/03/24"
                        author="ITICBCN"
                        imageUrl='../../public/assets/PostImages/Preinscripcio.png'
                        body="Al llarg dels mesos d’abril i maig desenvoluparem les Jornades de Portes Obertes del nostre institut, on explicarem els trets característics així com el funcionament i podrem resoldre els dubtes que pugueu tenir.Podeu consultar les dates i informacions sobre les jornades de Portes Obertes del…  "
                        readMoreUrl="https://agora.xtec.cat/iticbcn/portada/preinscripcio-2024-2025-terminis-requisits-i-resta-dinformacio/"
                        />
                    </div>
            </div>            
        </section>

        <div id="container-carousel">
            <Carousel />
        </div>
          


    </div>
  </>


</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

/* Bloque1 */
#container-body{
    display: flex;
    flex-wrap: wrap;
}
#section-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#bloque1{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
	background-color: chocolate;
}
#imagen-main img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 60%;
}
#imagen-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    
}
#bloque2{
    display: flex;
    margin-top: 50px;
}
#descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 50%;
    margin-left: 5%;
}
#botones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 35px;
}

.puertas-abiertas, .matriculacion {
  width: 100px; /* o el tamaño que prefieras */
  font-size: 20px; /* Aumenta el tamaño del texto */
  padding: 10px 20px; /* Añade más espacio alrededor del texto */
  background-color: #4CAF50; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DefaultButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    width: 70%;
    min-width: 150px;
    height: 35px;
    text-align: center; 
    background-color: blue;
    color: #f2f2f2;
    font-size: 20px;
}
/* Bloque 2 Estudios */

#estudios-container-home{
    display: flex;
    justify-content: center;
    width: 100%;
}
#etiqueta-estudios{
    width: 80%;
}



/* ---------------------------------------------------------------------- */
/* Bloque3 Noticias */

#section-noticias{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#bloqueActualidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 7%
}

#bloqueActualidad > div{
    width: auto;
}

.actualidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 22%;
    border: 2px solid black;
    margin-bottom: 20px;
}
.actualidad p{
    margin-bottom: 1px;
}
.actualidad-img{
    width: 100%;
    object-fit: cover;
}

.botonDefault2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}
#container-carousel{
    width: 100%;
}
</style>

